body {
	/* image sourced from: https://www.hks.harvard.edu/sites/default/files/medium-hero-images/Article_Supreme-Court_Sen_1280x720_Phillip-Nelson.jpg */
	background-image: url("supreme_court-2.jpg"); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p {
	text-align: center;
	color: white;
}

head {
	text-align: center;
	color: white;
}

form {
	text-align: center;
	color: white;
}

title { 
	text-align: center;
	color: white;
}

h1 {
	text-align: center;
	color: white;
}

div {
	font-size: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-header {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-word {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-freq {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* css from w3schools  */
input[type=text] {
  padding: 12px 24px;
  width: 100px;
  font-size: 16px; 
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 10%;
  box-shadow: 3px 3px black;
}

button {
  	background-color: white;
  	color: black;
  	padding: 10px 12px;
  	text-align: center;
  	font-size: 16px;
  	margin: 8px 4px;
  	transition: 0.3s;
	box-shadow: 3px 3px black;
	border-radius: 12px;
	border: 2px solid #4CAF50;
}

button:hover {
	background-color: #3e8e41;
	box-shadow: 0px 0px;
  	color: white; 
}

