p {
	text-align: center
}

head {
	text-align: center
}

form {
	text-align: center
}

title { 
	text-align: center
}

h1 {
	text-align: center
}

/* css from w3schools  */
input[type=text] {
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 15%
}
