p {
	text-align: center
}

head {
	text-align: center
}

form {
	text-align: center
}

title { 
	text-align: center
}

h1 {
	text-align: center
}

/* css from w3schools  */
input[type=text] {
  padding: 12px 32px;
  width: 100px;
  font-size: 16px; 
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 10%;
}

button {
  	background-color: #ddd;
  	border: none;
  	color: black;
  	padding: 12px 38px;
  	text-align: center;
  	font-size: 16px;
  	margin: 8px 4px;
  	transition: 0.3s;
}

button:hover {
	background-color: #3e8e41;
  	color: white; 
}
