<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
	<title>Word Frequency</title>
<body>
	<div class="my-header"> Word Frequency </div>
		<form class="search" method="post" action="/search">
		<input class="search" type="text" name="search_term" placeholder="Search Word">
		<button type="submit" value="Search"> submit </button>
	</form>
	{% if search_result %}
	<p>Word: {{ search_result[0] }}</p>
	<p>Frequency: {{ search_result[1] }}</p>
	{% endif %}
</body>
</html>
